@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  overflow-x: hidden;
}

.screen_one {
  width: 100%;
  float: left;
  display: block;
  /* background: url("./bg1.png");
  background-repeat: no-repeat;
	background-size: contain;
	background-position: center; */
}

.hedaer__area {
  width: 100%;
  float: left;
  display: block;
  background: #000;
  padding-top: 20px;
}

.hedaer__area img {
  width: 40%;
}

.hedaer__area_bottom ul {
  width: auto;
  float: right;
  margin: 0;
}

/* .scrollmagic-pin-spacer span {
  width: 60% !important;
  margin: auto;
} */

.hedaer__area_bottom {
  width: 100%;
  float: left;
  display: block;
  padding: 15px 0;
  background: #151515;
  margin-top: 10px;
}

.hedaer__area_bottom {
  width: 100%;
}

.hedaer__area ul li {
  float: left;
  color: #fff;
  list-style: none;
  padding: 0 15px;
}

.screen_one .scrollmagic-pin-spacer {
  width: 100%;
  float: left;
  display: block;
  /* background: url("./bg1.png");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
}

.screen_one .scrollmagic-pin-spacer {
  background: #000;
}

.screen_two .scrollmagic-pin-spacer {
  background: #000;
}

.screen_two .scrollmagic-pin-spacer span {
  width: 50% !important;
  margin: auto;
}

.slider__contn {
  width: 35%;
  text-align: center;
  position: absolute;
  left: 30%;
  color: #fff;
  top: 10px;
}

.slider__contn h3 {
  font-weight: 600;
}

.slider__contn p {
  color: #808080;
  font-weight: 600;
}



/* .skeleton {
  background-color: rgba(240, 240, 240, 1);
  background-image: linear-gradient(
    90deg,
    rgba(240, 240, 240, 1),
    rgba(240, 240, 240, 1),
    rgba(255, 255, 255, 1),
    rgba(240, 240, 240, 1),
    rgba(240, 240, 240, 1)
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeleton 500ms ease-in-out infinite;

  @keyframes skeleton {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
} */